body {
}

.overlap-left {
    position: relative;
    top: 0;
    left: 0;
}

#frontleftoverlap {
    position: absolute;
    top: 2%;
    left: 0%;
    height: auto; /*5.75em*/
    width: 53%;
    max-width: 100%;
}

.leftmainimg {
    position: relative;
    top: 0;
    left: 0;
}

.backleftoverlap {
    position: absolute;
    top: 9.875em;
    left: 0em;
    width: 4.063em;
    height: auto; /*5.75em*/
    max-width: 100%;
}

.overlap-right {
    position: relative;
    top: 0;
    right: 0;
}

#frontrightoverlap {
    position: absolute;
    top: 2%;
    right: 0%;
    width: 100%;
    height: auto; /*5.75em*/
    max-width: 100%;
}

.rightmainimg {
    position: relative;
    top: 0em;
    right: 0em;
}

.frontrightdot {
    position: absolute;
    top: -6%;
    right: 32%;
    max-width: 100%;
}

.backrightoverlap {
    position: absolute;
    top: 50%;
    right: -7%;
    width: 64%;
    height: auto; /*5.75em*/
    max-width: 100%;
}

.title1 {
    height: auto;
    color: #244697;
    font-family: Century Gothic;
    font-size: 275%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.title2 {
    height: auto;
    color: #244697;
    font-family: Century Gothic;
    font-size: 275%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.title3 {
    color: #010000;
    font-family: "Century Gothic";
    font-size: 200%;
    font-style: italic;
    letter-spacing: normal;
    padding-top: 93%
}

.mobileno {
    width: 80%;
    height: 180%;
    border-radius: 1.563em;
    font-family: "Century Gothic";
}

.consent {
    font-family: lato;
    margin-top: 5%;
}

#btnopnfreeacc {
    background-color: #244697;
    color: white;
    border-radius: 1.563em;
    width: 80%;
}

.row-mid {
    padding-top: 7%;
}

#spnopnacc {
    font-family: Century Gothic;
    font-size: 1.375em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.375em;
}

#spn0fee {
    color: #164796;
    font-family: Century Gothic;
    font-size: 3.125em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5em;
}

#spn0opnfee {
    font-family: Century Gothic;
    font-size: 1.375em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.375em;
}

#spnwelcomeoffer {
    font-family: Century Gothic;
    font-size: 1.375em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.375em;
}

#spn5000 {
    color: #164796;
    font-family: Century Gothic;
    font-size: 3.125em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5em;
}

#spnresearch {
    font-family: Century Gothic;
    font-size: 1.375em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.375em;
}

#imglayer11 {
    position: absolute;
    top: 56%;
    right: 73%;
    height: auto;
    width: 27%;
    max-width: 100%;
}

#imglayer11copy3 {
    position: absolute;
    top: 69%;
    left: 1%;
    width: auto;
    height: auto;
    max-width: 100%;
}

#imglayer11copy2 {
    position: absolute;
    top: 20%;
    right: -2%;
    height: auto;
    width: 17%;
    max-width: 100%;
}

#imglayer12 {
    position: absolute;
    top: 36%;
    left: 0em;
    width: 26.125em;
    height: 70%;
    max-width: 100%;
}

#imglayer11copy4 {
    position: absolute;
    top: 53%;
    left: 0%;
    width: 12%;
    height: auto;
    max-width: 100%;
}

#imglayer11copy3right {
    position: absolute;
    top: 79%;
    left: 12%;
    width: 12%;
    height: 7%;
    max-width: 100%;
}

#imglayer15 {
    position: absolute;
    top: 55%;
    right: 0%;
    height: auto;
    width: 15.75em;
}

#spnservadv {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    padding-top: 7%;
}

#spn4x {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnleverage {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spntraders {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spntopchoice {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnrs20 {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnoptntrading {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnget {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnresearchideas {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnideas {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnpaperless {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnactivation {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnadvanced {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnportfolio {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spntracker {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 1.875em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spnallin1acc {
    color: #000000;
    font-family: Century Gothic;
    font-size: 260%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

#spnlongterm {
    color: #000000;
    font-family: Century Gothic;
    font-size: 187%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

#spneqderiv {
    color: #16469f;
    font-family: Century Gothic;
    font-size: 112%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    padding-top: 60%;
    padding-bottom: 27%;
}

#spnfinlend {
    color: #000000;
    font-family: Century Gothic;
    font-size: 112%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 27%;
}

#spncurrency {
    color: #000000;
    font-family: Century Gothic;
    font-size: 112%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 27%;
}

#spncommodity {
    color: #000000;
    font-family: Century Gothic;
    font-size: 112%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 27%;
}

#spnresearchadv {
    color: #000000;
    font-family: Century Gothic;
    font-size: 112%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 27%;
}

#spneqneqderiv {
    color: #2852a4;
    font-family: Century Gothic;
    font-size: 112%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

#spn3steps {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 260%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

#spn1step {
    color: #2960e1;
    font-family: Century Gothic;
    font-size: 450%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    position: relative;
    top: 0;
    left: 12%;
}

#spn1personal {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 206%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    position: absolute;
    top: 29%;
    left: 61%;
}

#spn2step {
    color: #2960e1;
    font-family: Century Gothic;
    font-size: 450%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    position: relative;
    top: 0;
    left: -40%;
}

#spn2complete {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 206%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    position: absolute;
    top: 29%;
    left: 18%;
}

#spn3step {
    color: #2960e1;
    font-family: Century Gothic;
    font-size: 450%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    position: relative;
    top: 0;
    left: -35%;
}

#spn3esign {
    color: #ffffff;
    font-family: Century Gothic;
    font-size: 206%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    position: absolute;
    top: 29%;
    left: 18%;
}

#spnchoose {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

#spn6900 {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spnactive {
    font-family: Century Gothic;
    font-size: 106%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spn178000 {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spnclients {
    font-family: Century Gothic;
    font-size: 106%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spn17200cr {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spndailyvol {
    font-family: Century Gothic;
    font-size: 106%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spn65560cr {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spnaumaua {
    font-family: Century Gothic;
    font-size: 106%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spn180 {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spncities {
    font-family: Century Gothic;
    font-size: 106%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spn29 {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spnbranches {
    font-family: Century Gothic;
    font-size: 106%;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #244697;
}

#spngoodcomp {
    font-family: Century Gothic;
    font-size: 260%;
    font-style: normal;
    letter-spacing: normal;
}

#spnreadytobegin {
    color: #f5f5f5;
    font-family: Century Gothic;
    font-size: 260%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

#spnsignup {
    color: #f5f5f5;
    font-family: Century Gothic;
    font-size: 260%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

.Diwan {
    background-color: #E9E9E9;
    position: absolute;
    height: 410%;
    width: 32%;
    top: 30%;
    right: 30%;
    padding: 1% 3% 1% 3%;
    border-radius: 10% 10% 10% 10%;
}

.Sahil {
    background-color: #E9E9E9;
    position: absolute;
    height: 400%;
    width: 32%;
    top: 485%;
    left: 32%;
    padding: 2% 3% 2% 3%;
    border-radius: 10% 10% 10% 10%;
}

#spndrdiwan {
    color: #16469f;
    font-family: Century Gothic;
    font-size: 75%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

#spnsahilsachdev {
    color: #16469f;
    font-family: Century Gothic;
    font-size: 75%;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

#imglayer20copy2 {
    position: absolute;
    right: 11%;
    top: 70%;
    width: 26%;
}

#imglayer18 {
    position: absolute;
    top: 38%;
    right: 5%;
    height: auto;
    width: 30%;
}

#imglayer20 {
    position: absolute;
    top: 93%;
    right: 0%;
    width: 15%;
}

#imglayer24copy {
    position: absolute;
    height: auto;
    width: 20%;
    top: 60%;
    left: 10%;
}

#imglayer23 {
    position: relative;
    height: auto;
    width: 15%;
    margin-left: 9%;
}

#imglayer24 {
    position: absolute;
    height: auto;
    width: 13%;
    top: 24%;
    left: 4%;
}

.btnopnacc {
    background-color: #E62F2D;
    color: white;
    border-radius: 1.563em;
    width: 47%;
    margin-left: 0.75em;
}

/* Responsive css*/
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px) {
    .title1 {
        height: auto;
        color: #244697;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
    }

    .title2 {
        height: auto;
        color: #244697;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
    }

    .title3 {
        color: #010000;
        font-family: "Century Gothic";
        font-size: 75%;
        font-style: italic;
        letter-spacing: normal;
        padding-top: 93%
    }

    .mobileno {
        width: 58%;
        height: auto;
        border-radius: 1.563em;
        font-family: "Century Gothic";
    }

    .spncheckbox {
        font-size: 60%;
        display: block;
    }

    #spnservadv {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        padding-top: 7%;
    }

    #spn4x {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnleverage {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spntraders {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spntopchoice {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnrs20 {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnoptntrading {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnget {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnresearchideas {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnideas {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnpaperless {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnactivation {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnadvanced {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnportfolio {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 95%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spntracker {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnallin1acc {
        color: #000000;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
    }

    #spnlongterm {
        color: #000000;
        font-family: Century Gothic;
        font-size: 90%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
    }

    #spneqderiv {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 52%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-top: 60%;
        padding-bottom: 27%;
    }

    #spnfinlend {
        color: #000000;
        font-family: Century Gothic;
        font-size: 52%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spncurrency {
        color: #000000;
        font-family: Century Gothic;
        font-size: 52%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spncommodity {
        color: #000000;
        font-family: Century Gothic;
        font-size: 52%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spnresearchadv {
        color: #000000;
        font-family: Century Gothic;
        font-size: 52%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spneqneqderiv {
        color: #2852a4;
        font-family: Century Gothic;
        font-size: 70%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        display: block;
    }

    #imglayer15 {
        position: absolute;
        top: 78%;
        right: 8%;
        height: auto;
        width: 15%;
    }

    #spn1step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 200%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: 0%;
    }

    #spn1personal {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 20%;
        left: 50%;
    }

    #spn2step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 200%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: -70%;
    }

    #spn2complete {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    #spn3step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 200%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: -32%;
    }

    #spn3esign {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 24%;
        left: 26%;
    }

    #spn3steps {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnchoose {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #spn6900 {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnactive {
        font-family: Century Gothic;
        font-size: 80%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
        display: block;
    }

    #spn178000 {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnclients {
        font-family: Century Gothic;
        font-size: 80%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn17200cr {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spndailyvol {
        font-family: Century Gothic;
        font-size: 80%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn65560cr {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnaumaua {
        font-family: Century Gothic;
        font-size: 80%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn180 {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spncities {
        font-family: Century Gothic;
        font-size: 80%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn29 {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnbranches {
        font-family: Century Gothic;
        font-size: 80%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #imglayer20copy2 {
        position: absolute;
        right: 5%;
        top: 65%;
        width: 35%;
    }

    #spnreadytobegin {
        color: #f5f5f5;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
    }

    #spnsignup {
        color: #f5f5f5;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
    }

    #spngoodcomp {
        font-family: Century Gothic;
        font-size: 100%;
        font-style: normal;
        letter-spacing: normal;
    }

    #spndrdiwan {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 42%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        display: block;
    }

    #spnsahilsachdev {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 42%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        display: block;
    }

    #imglayer24copy {
        position: absolute;
        height: auto;
        width: 32%;
        top: 60%;
        left: 5%;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px) {
    #imglayer15 {
        position: absolute;
        top: 76%;
        right: 10%;
        height: auto;
        width: 18%;
    }

    #imglayer11 {
        position: absolute;
        top: 48%;
        right: 73%;
        height: auto;
        width: 27%;
        max-width: 100%;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px) {
    #imglayer15 {
        position: absolute;
        top: 64%;
        right: 15%;
        height: auto;
        width: 15%;
    }

    #spn2step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 200%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: -52%;
    }

    #spn2complete {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 22%;
        left: 10%;
    }

    #spn3esign {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 24%;
        left: 22%;
    }

    #spndrdiwan {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 56%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #spnsahilsachdev {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 56%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #imglayer24copy {
        position: absolute;
        height: auto;
        width: 25%;
        top: 60%;
        left: 10%;
    }

    #imglayer11 {
        position: absolute;
        top: 38%;
        right: 73%;
        height: auto;
        width: 27%;
        max-width: 100%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px) {
    #imglayer15 {
        position: absolute;
        top: 63%;
        right: 15%;
        height: auto;
        width: 15%;
    }

    #spn2step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 200%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: -52%;
    }

    #spn2complete {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 22%;
        left: 10%;
    }

    #spn3esign {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 24%;
        left: 22%;
    }

    #spndrdiwan {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 62%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #spnsahilsachdev {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 62%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #imglayer24copy {
        position: absolute;
        height: auto;
        width: 24%;
        top: 60%;
        left: 10%;
    }

    #spnreadytobegin {
        color: #f5f5f5;
        font-family: Century Gothic;
        font-size: 150%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
    }

    #spnsignup {
        color: #f5f5f5;
        font-family: Century Gothic;
        font-size: 150%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
    }

    #imglayer11 {
        position: absolute;
        top: 35%;
        right: 73%;
        height: auto;
        width: 27%;
        max-width: 100%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1024px) {
    .title1 {
        height: auto;
        color: #244697;
        font-family: Century Gothic;
        font-size: 275%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
    }

    .title2 {
        height: auto;
        color: #244697;
        font-family: Century Gothic;
        font-size: 275%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
    }

    .title3 {
        color: #010000;
        font-family: "Century Gothic";
        font-size: 200%;
        font-style: italic;
        letter-spacing: normal;
        padding-top: 93%
    }

    .mobileno {
        width: 80%;
        height: 180%;
        border-radius: 1.563em;
        font-family: "Century Gothic";
    }

    .spncheckbox {
        font-size: 100%;
    }

    #spnservadv {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        padding-top: 7%;
    }

    #spn4x {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnleverage {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spntraders {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spntopchoice {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnrs20 {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnoptntrading {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnget {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnresearchideas {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnideas {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnpaperless {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnactivation {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnadvanced {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnportfolio {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 250%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spntracker {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #spnallin1acc {
        color: #000000;
        font-family: Century Gothic;
        font-size: 275%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
    }

    #spnlongterm {
        color: #000000;
        font-family: Century Gothic;
        font-size: 187%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
    }

    #spneqderiv {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 112%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-top: 60%;
        padding-bottom: 27%;
    }

    #spnfinlend {
        color: #000000;
        font-family: Century Gothic;
        font-size: 112%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spncurrency {
        color: #000000;
        font-family: Century Gothic;
        font-size: 112%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spncommodity {
        color: #000000;
        font-family: Century Gothic;
        font-size: 112%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spnresearchadv {
        color: #000000;
        font-family: Century Gothic;
        font-size: 112%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding-bottom: 27%;
    }

    #spneqneqderiv {
        color: #2852a4;
        font-family: Century Gothic;
        font-size: 112%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #imglayer15 {
        position: absolute;
        top: 65.5%;
        right: 16%;
        height: auto;
        width: 18%;
    }

    #spn1step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 450%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: 12%;
    }

    #spn1personal {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 206%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 29%;
        left: 61%;
    }

    #spn2step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 450%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: -40%;
    }

    #spn2complete {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 206%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 29%;
        left: 18%;
    }

    #spn3step {
        color: #2960e1;
        font-family: Century Gothic;
        font-size: 450%;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        top: 0;
        left: -35%;
    }

    #spn3esign {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 206%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: absolute;
        top: 29%;
        left: 18%;
    }

    #spn3steps {
        color: #ffffff;
        font-family: Century Gothic;
        font-size: 260%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }

    #imglayer20copy2 {
        position: absolute;
        right: 11%;
        top: 70%;
        width: 26%;
    }

    #spnchoose {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    #spn6900 {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnactive {
        font-family: Century Gothic;
        font-size: 106%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn178000 {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnclients {
        font-family: Century Gothic;
        font-size: 106%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn17200cr {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spndailyvol {
        font-family: Century Gothic;
        font-size: 106%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn65560cr {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnaumaua {
        font-family: Century Gothic;
        font-size: 106%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn180 {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spncities {
        font-family: Century Gothic;
        font-size: 106%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spn29 {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnbranches {
        font-family: Century Gothic;
        font-size: 106%;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #244697;
    }

    #spnreadytobegin {
        color: #f5f5f5;
        font-family: Century Gothic;
        font-size: 260%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
    }

    #spnsignup {
        color: #f5f5f5;
        font-family: Century Gothic;
        font-size: 260%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
    }

    #spngoodcomp {
        font-family: Century Gothic;
        font-size: 260%;
        font-style: normal;
        letter-spacing: normal;
    }

    .Diwan {
        background-color: #E9E9E9;
        position: absolute;
        height: 410%;
        width: 32%;
        top: 30%;
        right: 30%;
        padding: 1% 3% 1% 3%;
        border-radius: 10% 10% 10% 10%;
    }

    .Sahil {
        background-color: #E9E9E9;
        position: absolute;
        height: 400%;
        width: 32%;
        top: 485%;
        left: 26%;
        padding: 2% 3% 2% 3%;
        border-radius: 10% 10% 10% 10%;
    }

    #spndrdiwan {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 62%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        display: contents;
    }

    #spnsahilsachdev {
        color: #16469f;
        font-family: Century Gothic;
        font-size: 62%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        display: contents;
    }

    #imglayer24copy {
        position: absolute;
        height: auto;
        width: 21%;
        top: 60%;
        left: 8%;
    }

    #imglayer11 {
        position: absolute;
        top: 48%;
        right: 73%;
        height: auto;
        width: 27%;
        max-width: 100%;
    }
}

/* hi-res laptops and desktops */
@media only screen and (min-width:1280px) {
    #imglayer15 {
        position: absolute;
        top: 61.5%;
        right: 16%;
        height: auto;
        width: 18%;
    }

    #imglayer11 {
        position: absolute;
        top: 42%;
        right: 73%;
        height: auto;
        width: 27%;
        max-width: 100%;
    }
}

/* End Mobile view Supported css*/
